<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body class="mix-bg" style="height:100%">
	    <div class="container-fluid">
		<% include header%>
		<div class="index_abslot">
			<% if (success) { %>
	        	<div class="alert alert-success">
		        	<%= success %>
		        </div>
	    	<% } %>
	    	<% if (error) { %>
	        	<div class="alert alert-error">
	        		<%= error %>
	    		</div> 
	    	<% } %>
		</div>
	    <% if(!user) {%>
	    	<div class="row mt100 text-center">
	    		<h1>欢迎来到my blog</h1>
	    		<p>my blog 是一个基于node.js的系统</p>
	    		<p>查看更多信息，请点击以下按钮：</p>
	    		<p>
	    			<a class="btn btn-primary" href="/login">登录</a>
	    			<a class="btn" href="/reg">立即注册</a>

	    		</p>
	    	</div>
	    <% } else {%>
			<!-- <form method="post" action="/post" class="well form-inline center" style="text-align: center;">
		    	<input type="text" name="post" class='span8'>
		    	<button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>发言</button>
		    </form>
 -->		<div class="row mt66" >
				<div class="col-md-2 text-center">
					<ul class="nav nav-pills nav-stacked travel_nav">
		                <li role="presentation" class="active"><a href="javascript:void(0)">个人信息</a></li>
		                <li role="presentation"  data-toggle="modal" data-target="#exampleModal"><a href="javascript:void(0)">修改</a></li>
		            </ul>
				</div>
				<div class="col-md-9">
					<% posts.forEach(function(post, index){%>
						<div id="test"><%- post.con%></div>
					<%})%>	
				</div>
			</div>
	    <% } %>
	   <!--  <% posts.forEach(function(post, index){
    		if(index %3 == 0) { %>
				<div class="row">
			<% } %>
					<div class="col-md-4">
						<h2><a href="/u/<%= post.user %>"><%=post.user %></a>说</h2>	
						<p><small><%=post.time%></small></p>
						<p><%=post.post %></p>		
					</div>
			<% if(index %3 == 2) { %>		
				</div> 
    		<% } %>
    	<% }) %>
		<% if(posts.length %3 != 0) { %>		
			</div> 
		<% } %>	 -->
	    </div>
	    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		    <div class="modal-dialog" role="document">
			    <div class="modal-content">
				    <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="exampleModalLabel">上传文件</h4>
						
				    </div>
				    <div class="modal-body">
				    	
				    	<form class="form-horizontal" method="post" action="/fileUpload" enctype="multipart/form-data">
				    		<fieldset>
				    			<div class="control-group">
				    				<div id="div_imgfile" class="mauto">选择文件</div>
				    				<div class="file-flag text-center mt10"></div>
				    				<input type="file" id="filename" name="filename" class="imgfile" accept="application/pdf">
				    			</div>
				    			<div class="form-actions text-center mt10">
				    				<button type="submit" class="btn btn-primary">确定上传</button>
				    			</div>
				    		</fieldset>
				    	</form>
				    	
				    </div>
			    </div>
		   </div>
		</div>
    </body>
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	<script type="text/javascript" charset="utf-8">
        window.onload = function () {
             document.getElementById("test").innerHTML= $("#test").html();
             console.log($("#test").html())
            setTimeout(function(){
            	$(".alert").hide();
            },1000);

        }
        $("#div_imgfile").click(function () {
        	
		    return $(".imgfile").click();//打开对象选择框
		});
		$(".modal").delegate("#filename","change",function(){
			if($(this).val().length > 0){
				var a = $("#filename").val();
        		$(".file-flag").html(a);
			}
		}) 
    </script>
</html>
